.home {
  background-image: url(images/backgrounds/h_img.jpg);
  width: 100%;
  height: 50%;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.hoheading h2 {
  font-size: 70px;
}

.hoheading p {
  font-size: 20px;
}

.hoheading,
.services {
  padding-top: 10%;
}

#mouse {
  padding: 5% 0;
}

.about {
  margin-top: 3%;
  text-align: center;
  line-height: 200%;
}

.about p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.services {
  background-image: url(images/backgrounds/s_image.jpg);
  text-align: center;
  color: #fff;
  line-height: 200%;
  padding-bottom: 5%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.services p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.what-we-do h1 {
  text-align: center;
  padding: 2%;
}

.portfolio {
  width: 80%;
  margin: auto;
}

.portfolio h1 {
  text-align: center;
}

.portfolio p {
  border: 4px solid white;
  display: inline-block;
  padding: 1% 2% 4% 2%;
  position: relative;
  left: 77%;
  top: -210px;
  color: #fff;
  font-size: 36px;
  font-family: 'Shippori Antique B1', sans-serif;
  font-weight: 700;
}

#work8 {
  filter: brightness(30%)
}

.contact {
  background-image: url(images/backgrounds/c_image.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-bottom: 10%;
  color: white;
  margin-top: -10%;
}

.contact h1 {
  padding: 2%;
}

.contact input {
  width: 30%;
}

.contact input[type=text] {
  margin-right: 2%;
}

form textarea {
  margin-top: 2%;
}

input[type=text],
input[type=email],
textarea {
  background: transparent;
  border: 1px solid white;
  outline: none;
}

::placeholder {
  color: white;
}

footer {
  text-align: center;
  margin-top: 3%;
}

.icons img {
  margin-right: 1%;
}

.copy-right {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}

.toggleDesign,
.toggleDev,
.toggleProduct {
  display: none;
}

/* jquery styles */
/* .project{
  position: relative;
} */
h3 {
  display: none;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  border: 2px solid white;
  color: rgb(201, 139, 226);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  text-align: center;
  padding: 1%;
}